body {
  background-color: black;
}

.formatbody {

  /* black background for body */
  padding-top: 120px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: black;

  /* Font styling */

  color: white;

}

.panel {
  color: black;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

.formatbody img {
  margin-left: 5%;
}
